<section class="container">
  <div>
    <h1 class="user-list__title">List of Users</h1>
    <ul class="user-list">
      <li class="user-card" *ngFor="let user of users">
        <a [routerLink]="['/users', user.id]">
          <img class="user-card__image" [src]="user.avatar" alt="" />
          <p class="user-card__name">
            {{ user.first_name }} {{ user.last_name }}
          </p>
          <p class="user-card__email">{{ user.email }}</p>
        </a>
      </li>
    </ul>
  </div>
</section>
