<div class="container">
  <div class="title">Register</div>
  <form (ngSubmit)="submit()" class="form-login">
    <div class="form-login__group">
      <label for="email" class="form-login__label"> Email </label>
      <input type="email" name="email" id="email" class="form-login__input" />
    </div>
    <div class="form-login__group">
      <label for="password" class="form-login__label"> Password </label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-login__input"
      />
    </div>
  </form>
</div>
